[submodule "etc/libdparse"]
	path = etc/libdparse
	url = https://github.com/dlang-community/libdparse.git
[submodule "etc/iz"]
	path = etc/iz
	url = https://www.github.com/Basile-z/iz.git
[submodule "etc/stdx-allocator"]
	path = etc/stdx-allocator
	url = https://github.com/dlang-community/stdx-allocator.git
[submodule "etc/JsonTools"]
	path = etc/JsonTools
	url = https://github.com/sysrpl/JsonTools.git
[submodule "etc/PasMP"]
	path = etc/PasMP
	url = https://github.com/BeRo1985/pasmp.git
[submodule "etc/LGenerics"]
	path = etc/LGenerics
	url = https://github.com/avk959/LGenerics.git
